
nav {
    width: max(50%, 20rem); // If 50% is less than 20rem then clamp at 20rem.
    transition: background-color 1s;
    transform: rotate(-2.5deg);
    background-color: hsl(0, 0%, 10%);

    &:hover {
        background-color: hsl(0, 0%, 5%);
    }
    
    ul {
        height: calc(3rem + 2px);
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        li {
            list-style: none;
            margin-block-start: 1rem;

            a {
                padding: 1rem 2rem;
                font-size: 1rem;
                color: #FFF;
                text-transform: uppercase;
                text-decoration: none;
                transition: background-color 0.5s;

                &:hover {
                    background-color: hsl(0, 0%, 20%);
                }
            }
        }
    }
}